# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
.env/
.conda/

# Ignore Excel data files
Data/

# Ignore output folders
converted_output/
extracted_images/

# Ignore system-specific files
.DS_Store
Thumbs.db
